aniso8601==4.0.1
asn1crypto==0.24.0
cffi==1.12.2
Click==7.0
cryptography==2.6.1
Flask==1.0.2
Flask-RESTful==0.3.7
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
marshmallow==3.0.0rc4
marshmallow-enum==1.4.1
postgres==2.2.2
psycopg2-binary==2.7.6.1
pycparser==2.19
PyJWT==1.4.0
pytz==2018.7
six==1.12.0
SQLAlchemy==1.2.14
Werkzeug==0.14.1
